html, body {
	background: #FFFFFA;
	color: #3a3a3a;
	margin: 0;
	padding: 0;
    overflow-y:hidden
}

::selection {
	background: #ffb7b7;
}
::-moz-selection {
	background: #ffb7b7;
}

.container {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	height: 100%;
	margin: 0 auto;
	max-width: 960px;
	width: 80%;
}

.content-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

section, footer {
	opacity: 0;
	display:inline-block;
	visibility: hidden;
	width: 100%;
	-webkit-transform: translateZ(0);
}

h1 {
	color: #3a3a3a;
	font-family: 'Oswald', sans-serif;
	font-size: 80px;
	font-weight: 400;
	letter-spacing: 7px;
	margin-bottom: 10px;
	margin: 0;
}

h2 {
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
	margin-top: 0;
}

a {
	color: #3a3a3a;
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -5px;
	text-decoration: none;
	transition: all .175s linear;
}

a:hover {
	background: #333;
	color: #fcfcfc;
	border-radius: 2px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

li {
	font-size: 16px;
	padding-bottom: 16px;
}

.highlight {
	background: #333;
	border-radius: 2px;
	color: #fcfcfc;
	transition: all .175s linear;
}

/* Header */

.info {
	padding-top: 25vh;
	text-align: center;
}

.info > h1 {
	padding-top:5px;
	text-transform: uppercase;
	cursor: default;
}

.info h2 {
	color: #777;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	cursor: default;
}

.social li {
	display: inline;
	font-size: 12px;
	letter-spacing: 2px;
}

.social span {
	padding: 0 20px;
}

.arrow {
	cursor: pointer;
	position:relative;
	width: 0px;
	height: 0px;
	top:7em;
	border-style: solid;
	border-width: 1em 1em 0 1em;
	border-color: #3a3a3a transparent transparent transparent;
	-webkit-transform:rotate(360deg)
}

.arrow:after {
	content:'';
	position:absolute;
	top:-3.2em;
	left:-3em;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3em 3em 0 3em;
	border-color: #FFFFFA transparent transparent transparent;
	-webkit-transform:rotate(360deg)
}

/* Work */

.work {
	margin: 75px 0 75px 0;
	float:left;
	width:50%;
}

.work a {
	letter-spacing: 0.02em;
}

.work span {
	font-style: italic;
	font-size: 12px;
	padding-left: 15px;
}

/* Cloud */

.cloud {
	margin: 75px 0 75px 0;
	float:left;
	width:50%;
	text-align: right;
}

.cloud span {
	display: inline-block;
	cursor: default;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	transition: all .175s linear;
}

.cloud span:hover {
	background: #333;
	color: #fcfcfc;
	border-radius: 2px;
}

/* About */

.about {
	margin-bottom: 20px;
}

.about p {
	color: #3a3a3a;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.02em;
}

.about span {
	font-weight: 600;
}

.bio {
	text-align: justify;
}

/* Footer */

.copyright {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 14px;
	margin: 10px auto 40px auto;
	padding-top: 20px;
	color: #999;
	letter-spacing: 1px;
}

/* Media Queries */

@media (max-width: 906px) {
	/*
	.arrow {
		display: none;
	}

	section, footer {
		display: inline-block;
		visibility: visible;
		opacity: 1;
	}

	.info {
		padding-top: 3em;
	}
	*/

	.work {
		width:100%;
	}

	.cloud {
		display:none;
	}

	h1 {
		font-size: 50px;
	}

	.info h2 {
		font-size: 16px;
	}

	.social span {
		padding: 0 4px;
	}

	.bio {
		width: 100%;
	}
}

@media (max-width: 570px) {
	.container {
		width: 90%;
	}

	h1 {
		font-size: 25px;
	}	

	.info h2 {
		font-size: 10px;
	}

	.social span {
		padding: 0 2px;
	}
}