/*
CSS Designed by Matthew Lavine
*/

::selection {
	background: #ffb7b7; /* Safari */
	}
::-moz-selection {
	background: #ffb7b7; /* Firefox */
}


/*Background*/
#container_bg {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#header {
	color:white;
	position:relative;
	height:15px;
	top:-7px;
}
#top_tile {
	background-image:url("../images/top_tile.png");
	background-repeat: no-repeat;
	height: 40px;
	background-position: center;
}
#vert_tile {
	background-image:url("../images/vert_tile.png");
	background-repeat: repeat-y;
	height: 700px;
	background-position:center;
}
#bottom_tile {
	background-image:url("../images/bottom_tile.png");
	background-repeat: no-repeat;
	height: 40px;
	background-position:center;
}

#Footer {
	Text-align:center;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:-16px;
	color:white;
	font-size: 15px;
}

body {
	background-color: #010066;
	padding:0;
	border:0;
	overflow-x: hidden; 
	overflow-y: scroll;	
	font-family:
    "Bookman Old Style",
    "Serifa BT",
    "URW Bookman L",
    "itc bookman",
/* Fallback options */
    times,
    serif;
}

	
#scrollable {
	margin-left:auto;
	margin-right:auto;
	padding-left:25px;
	padding-right:25px;
	width: 840px;
	height: 700px;
	overflow-y: scroll;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,25,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(1,0,102,0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(1,0,102,0.4);
}

