name: Build Docker image

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag portfolio:$(date +%s)
